<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bienvenido {{ title }}!
  </h1>
</div>


<form (ngSubmit)="Multiplicar();">

    <div>
      <input type="number"  id="numero1" name="numero1" placeholder="escribe primer operando" required [(ngModel)]="numero1">
      <input type="number"  id="numero2" name="numero2" placeholder="escribe segundo operando" required [(ngModel)]="numero2">
    </div>

      <button>Multiplicar</button>

</form>

<h2>
  El resultado es: {{ resultado }}
</h2>

<router-outlet></router-outlet>
