<div class="header">
    Gestion del profesor
</div>

<div class="row">
    <div class="columnA" style="background-color:#aaa;">
        <button id="Mostras" (click)="Mostrar()">Mostrar lista de alumnos </button>
        <button id="Ordenar" (click)="OrdenarPuntos()">Ordenar por puntos</button>

        <h2>LISTA DE ALUMNOS</h2>
        <ul *ngFor="let persona of lista">
          <li *ngIf="persona.rol === 'Alumno'">
            Nombre: {{persona.nombre}} - Puntos: {{persona.puntos}}
            <button (click)="Incrementar(persona)">Añadir punto</button>
            <button (click)="Eliminar(persona.nombre)">Eliminar</button>
            <button (click)="Seleccionar(persona)">Seleccionar</button>
          </li>
        </ul>
    </div>
    <div class="columnE" style="background-color:#bbb;">
        <h2>Detalles del alumno seleccionado</h2>
        <app-detalles [alumno]="alumnoSeleccionado"
                      (nuevosPuntos)="recibePuntos($event)"

        ></app-detalles>
    </div>
    <div class="columnE" style="background-color:#ccc;">

    <form (ngSubmit)="Pon();">
        <h2 style="color:#000000;font-size: 20px;text-align: center; font-weight:bolder">Introducir nuevo alumno</h2>
        <div>
          <label>Nombre: </label>
          <input type="text" name="nombre" placeholder="escribe el nombre" required [(ngModel)]="nombre">
        </div>
        <div>
          <label>Password: </label>
          <input type="text" name="pass" placeholder="escribe el password" required [(ngModel)]="pass">
        </div>
        <div>
          <label>Rol: </label>
          <select name="rol" required [(ngModel)]="rol">
            <option value="Alumno">Alumno</option>
            <option value="Profesor">Profesor</option>
          </select>
        </div>
        <div>
          <label>Puntos iniciales: </label>
          <input type="number" name="puntos" placeholder="puntos iniciales" value="0" required [(ngModel)]="puntos">
        </div>
        <button  class="boton"> Crear nuevo alumno</button>

      </form>
    </div>
</div>

<div class="footer">
    <button class="boton" (click)="GoBack()">Volver </button>
</div>



