<div class="example-button-row">
  <button mat-raised-button color="primary" (click)="Mostrar()">Mostrar lista de alumnos </button>
  <button mat-raised-button color="accent" (click)="OrdenarPuntos()">Ordenar por puntos</button>
</div>

<h2>LISTA DE ALUMNOS</h2>
<table mat-table [dataSource]="lista" class="mat-elevation-z8">

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> <h2 style='color:rgb(9, 94, 9)' >Nombre</h2> </th>
    <td mat-cell *matCellDef="let persona"><p *ngIf="persona.rol === 'Alumno'"> {{persona.nombre}} </p> </td>
  </ng-container>

  <ng-container matColumnDef="puntos">
    <th mat-header-cell *matHeaderCellDef> <h2 style='color:rgb(9, 94, 9)'>Puntos </h2></th>
    <td mat-cell *matCellDef="let persona"> <p *ngIf="persona.rol === 'Alumno'"> {{persona.puntos}} </p></td>
  </ng-container>
  <ng-container matColumnDef="incrementar">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let persona"><button *ngIf="persona.rol === 'Alumno'" (click)="Incrementar(persona.nombre)"><i class="material-icons green">add</i></button> </td>
    </ng-container>
  <ng-container matColumnDef="eliminar">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let persona"><button *ngIf="persona.rol === 'Alumno'"  (click)="Eliminar(persona.nombre)"><i class="material-icons red">delete</i></button> </td>
  </ng-container>

  <ng-container matColumnDef="info">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let persona"><button *ngIf="persona.rol === 'Alumno'"  (click)="VerInfo(persona.nombre)"><i class="material-icons blue">info</i></button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<button mat-raised-button color="primary" (click)= "CrearAlumno();"> Nuevo alumno</button>





